<!DOCTYPE html>
<html>
<head>
    <title>Login form</title>
    <meta name="description" content="Farmer-login-page">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="author" content="Hackguru">
    <link rel="stylesheet" type="text/css" href="static/login.css">
</head>

<body>
    <form action="" method="POST">
    {% csrf_token %}
    <div class="container">
        <center>
            <br><br>
            <h2>Farmer Login</h2>
        </center>
        
        <div class="login">
            <center>
                <br><br>
                <div class="username">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" placeholder="contact no" required>
                </div>
                <br>
                <div class="password">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Enter your Password" required>
                </div>
            </center>
            <center>
                <br><br>
                <label for="login"></label>
                <input type="submit" value="Login" id="login">
            </center>
        </div>
        
        <div class="forgot password">
            <center>
                <br><br>
                <a href="">Forgot password?</a><br>
                <br>
                new user? Go to <a href="http://127.0.0.1:8000/signup">Sign up</a>
            </center>
        </div>
    </div>
    </form>
</body>

</html>